body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.content-box {
  text-align: left;
  min-width: 50%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content-image {
  max-width: 100%;
}

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
}